@model eCommerce.Models.Catalogo
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/carrinho.jpg" alt="ASP.NET" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Conheça os nossos produtos
                    </p>
                </div>
            </div>
        </div>
        @foreach(var produto in Model.lista){
        <div class="item">
            <img src=@produto.imglink alt="ASP.NET" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        @produto.nome
                        <a class="btn btn-default btn-default" asp-controller="Produto" asp-action="Detalhes" asp-route-id="@produto.id">Ver Detalhes</a>
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<div class="row">
    @foreach(var produto in Model.lista){
    <div class="col-md-3">
        <h2>@produto.nome</h2>
        <ul>
            <li>@produto.detalhes</li>
            <li>Preco: R$@produto.preco</li>
            <li><a asp-controller="Produto" asp-action="Detalhes" asp-route-id="@produto.id">Ver Produto</a></li>
        </ul>
    </div>
}
</div>